#work, html, .wrapper{
    background-color: black;
}

.forme{
    margin: 10px;
    padding: 20px;
}

.forme span{
    font-family: Cirpnova;
    font-size: 2em;
    color: papayawhip;
}

.forme p{
    font-family: Cirpnova;
    font-size: 1.6em;
    color: brown;
}

#menu{
    margin-top: 100px;
    padding-left: 130px;
    font-family: Cirpnova;
    font-size: 3.5em;
}

#menu a{
     color: whitesmoke;
}

#menu a:hover{
    color: papayawhip;
    font-size: 1.1em;
    text-decoration: none;
}

#menu ul li{
    padding: 25px 25px 25px 5px;
}

.columns{
    height: 100%;
    padding-bottom: 400px;
}

.slider img{
    margin: 0;
    padding: 0;
    border: 15px solid #FFFFFF;
    border-radius: 5px;
    max-height: 600px;
}

.nav {
    display: block;
    /*height: 248px;*/
    left: 0;
    margin: 20px;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 5;
}
.nav li {
    border: 5px solid #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    max-width: 100px;
    height: auto;
    margin: 2px 6px;
}
.nav li.active {
    border: 5px solid #FFFFFF;
}
.nav li img {
    max-width: 100%;
    height: auto;
}

.slider {
    height: 100%;
    width: 100%;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
}