<section id="work" class="col-ms-12 col-sm-12 col-md-9">
    <div class="forme">
        <p>Здравейте,</p>
        <p>Името ми е&nbsp; Мария Караманова от малка проявявам интерес към фотографията,&nbsp; а в последно време тя&nbsp; е неделима&nbsp; част от ежедневието и живота ми. От хоби се превърна&nbsp; в постоянно вдъхновение, без което не мога!</p>
        <p>Ще се радвам да ми се доверите и да бъда част от Вашият празник!</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Как става записването за фотосесия?</p>
        <span>&nbsp;&nbsp;&nbsp; Предварително на телефон: 0894645966 или на имейл: mariya_karamanova@abv.bg</span>
        <p>&nbsp;</p>
        <p>&nbsp;Място на провеждане на фотосесиите:</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Съобразено е с Вашите желания- може да е както в паркове, градинки, молове, в домашни условия, така и в студио.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp; За да запишете час е необходимо да ми съобщите името&nbsp; Ви или на децата Ви, възрастта и да оставите телефон за обратна връзка.&nbsp; 1-2 дни преди фотосесията е необходимо да потвърдите Вашият час чрез телефонно обаждане. В случай, че сте възпрепятствани, моля предупредете, че фотоесията няма да се осъществи!</p>
        <p>&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Подготовка за фотосесията:</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp; За предпочитане е да носите семпли дрехи с не ярки цветове- може да се преоблечете колкото пъти искате за времевия интервал на провеждането на фотосесия, пудра или грим на лицето и аксесоари като шапки, колиета, шалове и т.н.</p>
        <p>&nbsp;</p>
        <p>Максимално време за обработка на снимките: &nbsp;10 дни</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>&nbsp;</p>
        <p>***</p>
        <p>&nbsp;Съгласно "Закона за авторското право" авторските права върху снимките, заснети от фотографите принадлежат на тях. В тази връзка снимките заснети от мен са предназначени за лично ползване и цел и можете да ги публикувате в свои лични галерии. Те не могат да бъдат използвани с рекламна цел. Ако желаете да използвате снимките си за реклама това може да се осъществи срещу договаряне на съответните условия и цени с мен. Ако желаете да участвате с тях в конкурси, можете да го направите като напишете кой е автора.</p>
        <p>Снимките заснети от мен са част от моето творчество и биват публикувани на уеб сайта ми, както и в албумите на Фейсбук страницата ми с цел попълване на моето професионално портфолио и достигане до широката публика.</p>
        <p>В случай, че не желаете снимки от Вашата фотосесия да бъдат публикувани, можете да заявите това Ваше желание непосредствено преди самата фотосесия!</p>
    </div>
</section>