<section id="work" class="col-ms-12 col-sm-12 col-md-9">
    <div class="offset">
        Записване за фотосесия:
        То става предварително на телефон: 0894645966 или на имейл: mariya_karamanova@abv.bg


        Място на провеждане на фотосесиите:
        Съобразено е с Вашите желания- може да е както в паркове, градинки, молове, в домашни условия, така и в студио.
        За да запишете час е необходимо да ми съобщите името  Ви или на децата Ви, възрастта и да оставите телефон за обратна връзка.  1-2 дни преди фотосесията е необходимо да потвърдите Вашият час чрез телефонно обаждане. В случай, че сте възпрепятствани, моля предупредете, че фотоесията няма да се осъществи!



        Подготовка за фотосесията:
        За предпочитане е да носите семпли дрехи с не ярки цветове- може да се преоблечете колкото пъти искате за времевия интервал на провеждането на фотосесия, пудра или грим на лицето и аксесоари като шапки, колиета, шалове и т.н.

        Време за обработка на снимките:

        15 дни.
    </div>
    <div class="columns">
        ***
        Съгласно "Закона за авторското право" авторските права върху снимките, заснети от фотографите принадлежат на тях. В тази връзка снимките заснети от мен са предназначени за лично ползване и цел и можете да ги публикувате в свои лични галерии. Те не могат да бъдат използвани с рекламна цел. Ако желаете да използвате снимките си за реклама това може да се осъществи срещу договаряне на съответните условия и цени с мен. Ако желаете да участвате с тях в конкурси, можете да го направите като напишете кой е автора.
        Снимките заснети от мен са част от моето творчество и биват публикувани на уеб сайта ми, както и в албумите на Фейсбук страницата ми с цел попълване на моето професионално портфолио и достигане до широката публика.
        В случай, че не желаете снимки от Вашата фотосесия да бъдат публикувани, можете да заявите това Ваше желание непосредствено преди самата фотосесия!
    </div>
    <div>
        Цени

        Мини фотосесия
        Времетраене: 60 минути
        Цена: 50лв
        Получавате: 10 обработени кадъра
        Стандартна фотосесия
        Времетраене:  60 минути
        Цена: 80лв
        Получавате: 30 обработени кадъра

        *цените важат за 1 човек ;
        *при желание за снимки в студио се доплащат 20лв;
    </div>
</section>