<section class="demo fullscreen">
    <div>
        <div class="variation" id="women">
            <a href="#women">
                <div class="overlay">
                    <div class="inner">
                        <div class="number"><h4>ЖЕНИ</h4></div>
                        <!--<img src="images/image.png" alt="">-->
                        <!--<div class="title">Image Background</div>-->
                    </div>
                </div>
            </a>
        </div>
        <div id="men" class="variation">
            <a href="#men">
                <div class="overlay">
                    <div class="inner">
                        <div class="number"><h4>МЪЖЕ</h4></div>
                        <!--<img src="images/image.png" alt="">-->
                        <!--<div class="title">Content Slider</div>-->
                    </div>
                </div>
            </a>
        </div>
        <div class="variation" id="children">
            <a href="#children">
                <div class="overlay">
                    <div class="inner">
                        <div class="number"><h4>ДЕЦА</h4></div>
                        <!--<img src="images/image.png" alt="">-->
                        <!--<div class="title">Video Background</div>-->
                    </div>
                </div>
            </a>
        </div>
        <div class="variation" id="love">
            <a href="#love">
                <div class="overlay">
                    <div class="inner">
                        <div class="number"><h4>ЛЮБОВ</h4></div>
                        <!--<img src="images/image.png" alt="">-->
                        <!--<div class="title">Video Background</div>-->
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>