<section class="demo fullscreen">
    <div>
        <div class="variation" id="image">
            <div class="overlay">
                <div class="inner">
                    <div class="number"><h4>ЖЕНИ</h4></div>
                    <img src="images/image.png" alt="">
                    <!--<div class="title">Image Background</div>-->
                </div>
            </div>
        </div>
        <div class="variation" id="slider">
            <div class="overlay">
                <div class="inner">
                    <div class="number"><h4>МЪЖЕ</h4></div>
                    <img src="images/image.png" alt="">
                    <!--<div class="title">Content Slider</div>-->
                </div>
            </div>
        </div>
        <div class="variation" data-url="video">
            <div class="overlay">
                <div class="inner">
                    <div class="number"><h4>ДЕЦА</h4></div>
                    <img src="images/image.png" alt="">
                    <!--<div class="title">Video Background</div>-->
                </div>
            </div>
        </div>
        <div class="variation" data-url="video">
            <div class="overlay">
                <div class="inner">
                    <div class="number"><h4>ЛЮБОВ</h4></div>
                    <img src="images/image.png" alt="">
                    <!--<div class="title">Video Background</div>-->
                </div>
            </div>
        </div>
    </div>
</section>