<section id="work" class="col-ms-12 col-sm-12 col-md-9">
    <div class="forme">
        <article class="paragraph">
            <span>Мини портретна фотосесия</span>
            <aside>
                <p>Максимална заетост: &nbsp;1 час</p>
                <p>Цена: 50лв</p>
                <p>Получавате: 30 обработени кадъра</p>
                <p>Ако желаете фотосесията да е в студио, се доплащат 20лв.</p>
            </aside>
        </article>

        <article class="paragraph">
            <span>Стандартна портретна &nbsp;фотосесия</span>
            <aside>
                <p>Максимална заетост:&nbsp; 1 час</p>
                <p>Цена: 80лв</p>
                <p>Получавате: 50 обработени кадъра</p>
                <p>Ако желаете фотосесията да е в студио, се доплащат 20лв</p>
            </aside>
        </article>

        <article class="paragraph">
            <span>Сватбен пакет- той включва заснемането на подготовката на булката/младоженеца, всички ритуали и кратка фотосесия;</span>
            <aside>
                <p>&nbsp;Получавате : всички кадри в дигитален формат, от които заедно ще изберем&nbsp; 10 за допълнителна обработка</p>
                <p>Максимална заетост: 6 часа</p>
                <p>ПРОМО Цена: 200лв</p>
            </aside>
        </article>

        <article class="paragraph">
            <span>Парти Пакет Мини- заснемане на партита и рожденни дни</span>
            <aside>
                <p>Максимална заетост- 2 часа</p>
                <p>ПРОМО Цена: 70лв</p>
                <p>Получавате всички кадри</p>
            </aside>
        </article>

        <article class="paragraph">
            <span>Парти пакет стандартен- заснемане на фирмени тържества и банкети</span>
            <aside>
                <p>Максимална заетост- 4 часа</p>
                <p>ПРОМО Цена: 120лв</p>
                <p>Получавате всички кадри</p>
            </aside>
        </article>
    </div>
</section>